body {
  margin: 0;
}

#div1 {
  background-color: #ff0000;
  height: 60px;
  width: 100%;
}

#div2 {
  background-color: #ffa500;
  height: 350px;
  width: 100%;
}

#div3 {
  background-color: #ffff00;
  height: 320px;
  width: 100%;
}

#div4 {
  background-color: #008000;
  height: 385px;
  width: 100%;

}

#div5 {
  background-color: #0000ff;
  height: 200px;
  width: 100%;
}

#div6 {
  background-color: #4b0082;
  height: 200px;
  width: 100%;
}


@media(min-width : 768px) {
  div {
    float: left;
  }
  #div2 {
    height: 562px;

  }

  #div3 {
    height: 282px;

  }

  #div4 {
    height: 360px;
    width: 50%;

  }

  #div5 {
    width: 50%;
    height: 180px;
    
  }

  #div6 {
    width: 50%;
    height: 180px;
   
  }

}

@media(min-width : 992px){
  div {
    float: left;
  }
  #div1{
    height: 60px;
  }
  #div2 {
    height: 700px;
    width: 50%;
  }

  #div3 {
    height: 350px;
    width: 50%;

  }

  #div4 {
    height: 350px;
    width: 25%;

  }

  #div5 {
    width: 25%;
    height: 175px;
    
  }

  #div6 {
    width: 25%;
    height: 175px;
   
  }
}